.opcion {
  display: flex;
  justify-content: center;
  flex: 1 1 50%;
  max-width: calc(50% - 10px);
  min-width: 320px;
  text-decoration: none;
}

.panel {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  gap: 8px;
  flex-grow: 1;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  color: white;
  min-height: 120px;
}

.panel:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

h2 {
  margin: 0;
}

.accion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .panel {
    width: 85vw;
  }
}

@media (max-width: 768px) {
  .opcion {
    flex-basis: 100%;
    max-width: 100%;
  }
}
