.opcion {
    display: flex;
    justify-content: center;
    flex: 1 1 45%;
    max-width: 45%;
    min-width: 320px;
    box-sizing: border-box;
}

.panel {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid white;
    width: 550px;
    padding: 0 16px;
}

.contenido h2 {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 11px;
}

.accion {
    height: 32px;
    margin-bottom: auto;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .panel {
        width: 85vw;
        padding: 0 12px;
    }
}

@media (max-width: 768px) {
    .opcion {
        flex-basis: 100%;
        max-width: 100%;
    }
}