.lista {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 1rem;
}

.card {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  --color-primary-light:#225599; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.nombre {
  margin: 0;
  font-weight: bold;
  font-size: 1.1rem;
}

.cuatrimestre {
  color: gray;
  font-size: 0.9rem;
}

.infoDerecha {
  text-align: right;
}

.estado {
  padding: 4px 10px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 4px;
}

.Aprobada {
  background-color: black;
  color: white;
}

.Cursando {
  background-color: #000000;
  color: #ffffff;
}

.nota {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
}
