.loginForm {
    display: flex;
    flex-direction: column;
    width: 340px;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 24px;
    background-color: var(--color-form);
    padding: 15px;
    border-radius: 6px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.loginForm input {
    background-color: var(--color-background);
    color: var(--color-text);
    padding: 0 5px;
    height: 36px;
    border-radius: 6px;
}

.loginFormButton {
    background-color: var(--color-accent-dark);
    color: var(--color-primary);
    transition: background-color 0.3s ease;
}

.loginFormButton:hover {
    background-color: var(--color-accent);
}

.actionContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.actionContainer a {
    text-align: center;
}

.actionContainer div {
    text-align: center;
}

.actionContainer div p {
    margin: 3px 0;
}

.formLogo {
  width: 100%;
  height: auto;
}
