.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 340px;
  align-items: center;
  justify-content: center;
  height: auto;
  gap: 24px;
  background-color: var(--color-form);
  padding: 15px;
  border-radius: 6px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.actionContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.actionContainer a {
  text-align: center;
}

.actionContainer div {
  text-align: center;
}

.actionContainer div p {
  margin: 3px 0;
}

.formLogo {
  width: 100%;
  height: auto;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  width: 340px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 6px;
  background-color: var(--color-form);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
  gap: 16px;
}

.modal h3 {
  font-size: 20px;
}

.botones {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px;
}

.opciones {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
}

.link:link {
  color: #b57bff; /* Color para enlaces no visitados */
}

.link:visited {
  color: #b57bff; /* Igual que el de link o uno que mantenga buen contraste */
}

.link:hover,
.link:focus {
  color: #e1bfff; /* Más claro para hover/focus */
  text-decoration: underline;
}

.link:active {
  color: #d19cff;
}