.card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  max-width: calc(50% - 8px);
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgb(255, 255, 255, 0.05);
}

.icono {
  background: rgba(255, 255, 255, 0.077);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 10px;
}

.icono svg {
  display: block;
}

.label {
  font-size: 14px;
  color: #ffffff;
}

.valor {
  font-weight: 600;
}

.datos {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }
}