.card {
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: auto;
  border-radius: 8px;
  background-color: rgb(255, 255, 255, 0.05);
  max-width: none;
  flex: 1 1 0;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  padding-bottom: 8px;
}

.header h3 {
  margin: 0;
  font-size: 17px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  padding-top: 0;
}

.content div {
  font-weight: 700;
  font-size: 24px;
}

.content p {
  font-size: 15px;
  margin: 0;
}
