.container {
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.07);
  padding: 1.5rem;
  border-radius: 10px;
}

.nombre {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.profesor {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}

.horario {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.horario svg {
  color: rgba(255, 255, 255, 0.7);
}